<div class="modal" tabindex="-1" role="dialog"
    hidden="@_isCancelClicked">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Title</h5>
            <i id="x-cancel" class="bi bi-x-circle" @onclick="@OnClickModalCancel"></i>
        </div>
        @if (_isError) {
            <Feedback Message="@_message" OnClickCancel=@OnClickHideBanner/>
        }
        <div class="modal-body">
            <p>Vuoi davvero eliminare questa commessa?</p>
            <p> <strong>Cliente:</strong> @_model.ClientName</p>
            <p> <strong>Nome:</strong> @_model.Name</p>
            <p> <strong>Data d'inizio:</strong> @_model.StartDate.ToString("dd/MM/yyyy")</p>
            <p> <strong>Data di fine:</strong> @_model.FinishDate.ToString("dd/MM/yyyy")</p>
        </div>
        <div class="modal-footer">
            <div id="cancel">
                <span id="btn-link" style="color: blue; cursor: pointer;"
                    @onclick="@OnClickModalCancel">Annulla</span>
            </div>
            <div id="confirm">
                <button type="button" class="btn btn-danger"
                    @onclick="@OnClickModalConfirm">Conferma</button>
            </div>
        </div>
        </div>
    </div>
</div>
