<div class="modal" tabindex="-1" role="dialog"
    hidden="@_isCancelClicked">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Title</h5>
            <i id="x-cancel" class="bi bi-x-circle" @onclick="@OnClickModalCancel"></i>
        </div>
        @if(_isError) {
            <Feedback Message="@_message" OnClickCancel=@OnClickHideBanner/>
        }
        <div class="modal-body">
            <p>Commessa: @_currentWorkOrder.Name 
                <span>(@_currentWorkOrder.StartDate.ToString("dd/MM/yyyy") - @_currentWorkOrder.FinishDate.ToString("dd/MM/yyyy"))</span></p>
            <p>Vuoi davvero eliminare questa attività?</p>
            <p> <strong>Nome:</strong> @_currentActivity.Name</p>
            <p> <strong>Data d'inizio:</strong> @_currentActivity.StartDate.ToString("dd/MM/yyyy")</p>
            <p> <strong>Data di fine:</strong> @_currentActivity.FinishDate.ToString("dd/MM/yyyy")</p>
            <p> <strong>Dipendenti assegnati: </strong> </p>
            <div id="wrapper-card" class="card"> 
                @foreach (var em in _currentActivity.Employees) {
                    <div class="card" style="">
                        <p><strong>Nome: </strong> @em.FullName</p>
                        <p><strong>Email:</strong> @em.Email</p>
                        <p><strong>Ruolo:</strong> @em.Role</p>
                    </div>
                }
            </div>
        </div>
        <div class="modal-footer">
            <div id="cancel">
                <span id="btn-link"
                    @onclick="@OnClickModalCancel">Annulla</span>
            </div>
            <div id="confirm">
                <button type="button" class="btn btn-danger"
                    @onclick="@OnClickModalConfirm">Conferma</button>
            </div>
        </div>
        </div>
    </div>
</div>
