@if (_isError) {
    <Feedback Message=@_message OnClickCancel=@HandleFeedbackCancel/>
}

<table class="table table-striped">
    <tr>
        <th scope="col">#</th>
        @foreach (var order in _orderTitles) {
            @if (order.Key == _orderKey) {
                <th scope="col" @onclick="@(() => HandleOrdering(order.Key))"
                    style="color: blue;">
                    <i class="bi bi-arrow-down"></i>
                    @order.Key
                </th>
            } else {
                <th scope="col" @onclick="@(() => HandleOrdering(order.Key))">
                    @order.Key
                </th>
            }
        }
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var wo in WorkOrders) {
            <tr>
                <td></td>
                <td>@wo.ClientName</td>
                <td>@wo.Name</td>
                <td>@wo.StartDate.ToString("dd/MM/yyyy")</td>
                <td>@wo.FinishDate.ToString("dd/MM/yyyy")</td>
                @if (wo.IsInvoiceCreated) {
                    <td>
                        <span class="text-success">
                            <i class="bi bi-check2-circle">Creato</i>
                        </span>
                    </td>
                    <td>
                        <span class="info" @onclick=@(() => ViewReport(wo.Id))>
                            <i class="bi bi-receipt">Visualizza</i>
                        </span>
                    </td>
                    <td><i class="bi bi-share">Condividi</i></td>
                } else {
                    <td>
                        <span class="text-warning">
                            <i class="bi bi-x-circle"></i>
                            Inesistente
                        </span>
                    </td>
                    <td>
                        <span class="info" @onclick=@(() => CreateReport(wo.Id))>
                            <i class="bi bi-plus-circle">Genera</i>
                        </span>
                    </td>
                }
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

@if (!WorkOrders.Any()) {
    <p class="text-center">@Titles.NOT_AVAILABLE_WORKORDERS</p>
}

@if (_isViewInvoiceClicked) {
    <ModalWorkOrderCostPreview
        Title=@Titles.REPORT_DETAILS
        WorkOrderId=@_workOrderId
    />
}