<table class="table">
    <thead>
        <tr>
            @foreach (var title in _orderTitles) {
                @if (title.Key == _orderKey) {
                    <th scope="col" @onclick="@(() => HandleOrdering(title.Key))"
                        style="color: blue;">
                        <span>
                            <i class="bi bi-arrow-down"></i>
                            @title.Key
                        </span>
                    </th> 
                } else {
                    <th scope="col" @onclick="@(() => HandleOrdering(title.Key))">@title.Key</th> 
                }
            }
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Users) {
            <tr>
                <td>
                    @if (user.IsArchived) {
                        <strong style="color: yellow;">[Archiviato]</strong>
                    } else {
                        <strong style="color: green;">[Attivo]</strong>
                    }
                </td>
                <td>
                    <span>
                        <i class="bi bi-person-circle"></i>
                        @user.Email
                    </span>
                </td>
                <td>@user.FullName</td>
                <td>@user.BirthDay.ToString("dd/MM/yyyy")</td>
                <td>@user.StartDate.ToString("dd/MM/yyyy")</td>
                <td>@user.Role</td>
                <td>@user.CurrentHourlyRate</td>
                <td>
                    <i class="bi bi-eye info" @onclick="@(() => ShowDetails(user.Id))"></i>
                </td>
                @if (!user.IsDeleted || !user.IsArchived) {
                    <td>
                        <i class="bi bi-pencil-square info" @onclick="@(() => OnClickEdit(user.Id))"></i>
                    </td> 
                    <td> 
                        <i class="bi bi-trash3 danger" @onclick="@(() => OnClickDelete(user.Id))"></i>
                    </td>
                } else if (user.IsArchived) {
                    <td> 
                        <i class="bi bi-arrow-repeat" @onclick="@(() => OnClickRestore(user.Id))"></i>
                    </td>
                }
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

@if (!Users.Any()) {
    <p class="text-center">@Titles.NOT_AVAILABLE_USERS</p>
}

@if (_isViewClicked) {
    <ModalShowUserDetails Title=@Titles.DETAILS_USER Id="@_userId"/>
}

@if (_isEditClicked) {
   <ModalEditUser Title=@Titles.EDIT_USER Id="@_userId"/> 
}

@if (_isDeleteClicked) {
    <ModalDeleteUser 
        Id=@_userId
        Title=@Titles.DELETE_USER
        ConfirmationMessage=@Titles.CONFIRM_RESTORE_USER/>
}

@if (_isRestoreClicked) {
    <ModalRestoreUser 
        Id=@_userId
        Title=@Titles.RESTORE_USER
        Message=@Titles.CONFIRM_RESTORE_USER/>
}
